@import url('https://fonts.googleapis.com/css?family=Indie+Flower&effect=anaglyph');

#main-title {
    font-family: 'Indie Flower', cursive;
    font-size: 5.5rem;
    color: #090909;
}

#main-title a:visited {
    color: #090909;
}

#main-title a:hover {
    color: #090909;
    text-decoration: none;
}

nav a {
    color: #090909;
    /*padding: 10px;*/
}

nav a:visited {
    color: #090909;
}

nav a:hover {
    color: #090909;
    text-decoration: none;
}

thead {
    color: #9d9d9d
}

.control-label {
    font-weight: 700;
}

.help-block {
    opacity: 0.5;
}

input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(1.5); /* IE */
  -moz-transform: scale(1.5); /* FF */
  -webkit-transform: scale(1.5); /* Safari and Chrome */
  -o-transform: scale(1.5); /* Opera */
  padding: 10px;
}

.logic-action-form {
    padding-top: 10px;
}

.processed-alert, .alert-channel-data {
    padding-right: 20px;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.historical-alert-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    max-width: 100%;
}
