{% load static %}

<tr id="{{ alert_channel.alert_id }}">
    <td>
        {% if user.is_authenticated %}
            <a href="{% url 'alert_channel_detail' pk=alert_channel.id %}">
        {% endif %}
            {{ alert_channel.name }}
        {% if user.is_authenticated %}
            </a>
        {% endif %}
    </td>
    <td scope="col">{{ alert_channel.alert_id }}</td>
    <td scope="col">{{ alert_channel.expected_data }}</td>
    <td scope="col">{{ alert_channel.preprocessor_action }}</td>
    <td scope="col">{{ alert_channel.active_alerts.count }}</td>
</tr>

