{% load static %}

<tr>
    <td>
        <button class="btn btn-light" data-toggle="popover" title="{{ historical_alert.title }}" data-content="{{ historical_alert.message }}" data-trigger="focus">
            {{ historical_alert.alert_created|timesince }} ago
        </button>
    </td>
    <td>
        {% if historical_alert.updated %}
            <img src="{% static 'vigil/img/svg/issue-reopened.svg' %}" data-toggle="tooltip" data-placement="bottom" title="Alert was already open" />
        {% else %}
            <img src="{% static 'vigil/img/svg/issue-opened.svg' %}" data-toggle="tooltip" data-placement="bottom" title="Alert was newly opened" />
        {% endif %}
    </td>
</tr>
