{% load static %}

<tr>
    <td scope="col" class="text-left historical-alert-title">
        <button class="btn btn-light" data-toggle="popover" title="Updated {{ historical_alert.last_updated|timesince }} ago" data-content="{{ historical_alert.message }}" data-trigger="focus" data-placement="left" data-container="body">
            {{ historical_alert.title }}
        </button>
    </td>
    <td scope="col">
        {% if historical_alert.active %}
            <img src="{% static 'vigil/img/svg/alert.svg' %}" data-toggle="tooltip" data-placement="bottom" title="Alert is currently active" />
        {% else %}
            <img src="{% static 'vigil/img/svg/circle-slash.svg' %}" data-toggle="tooltip" data-placement="bottom" title="Alert has been acknowledged" />
        {% endif %}
    </td>
</tr>
