{% load static %}

<tr>
    <td scope="col">{{ historical_alert.title }}</td>
    <td scope="col">{{ historical_alert.message }}</td>
    <td scope="col" class="{{ alert.bootstrap_priority }}">{{ historical_alert.priority }}</td>
    <td scope="col">
        {% if historical_alert.active %}
            <img src="{% static 'vigil/img/svg/alert.svg' %}" data-toggle="tooltip" data-placement="bottom" title="Alert is currently active" />
        {% else %}
            <img src="{% static 'vigil/img/svg/circle-slash.svg' %}" data-toggle="tooltip" data-placement="bottom" title="Alert has been acknowledged" />
        {% endif %}
    </td>
    <td scope="col">{{ historical_alert.alert_created }}</td>
    <td scope="col">{{ historical_alert.last_updated }}</td>
    <td scope="col">{{ historical_alert.last_notification }}</td>
</tr>