{% extends 'base.html' %}

{% load static %}

{% block title %}
Alert Actions
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col">
            <h2>Logic Actions</h2>
        </div>
        <div class="col text-right">
            <a class="btn btn-dark" href="{% url 'logic_alert_action_create' %}">New</a>
        </div>
    </div>
    <div class="row">
        <div class="col"></div>
            <table id="logic-actions" class="table table-striped table-hover table-bordered active-alerts">
                <caption>List of available Logic Alert Actions</caption>
                <thead class="thead-dark bg-dark">
                    <tr>
                        <td scope="col">Name</td>
                        <td scope="col">Description</td>
                        <td scope="col">Last Triggered</td>
                        <td scope="col">Task</td>
                    </tr>
                </thead>
                <tbody>
                    {% for alert_action in object_list %}
                        {% include 'vigil/fragments/alert_action/logic.html' %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block endbodyjs %}
    <script>
        $(document).ready(function() {
            $('#logic-actions').DataTable(
                {
                    "pagingType": "full"
                }
            );
        } );
    </script>
{% endblock %}
