{% extends 'base.html' %}

{% load bootstrap %}

{% block title %}
    Edit {{ object.name }} Channel
{% endblock %}

{% block content %}
    <form action="" method="post" class="form-horizontal">
            <legend>Update the "{{ object.name }}" Alert Channel</legend>
            {% csrf_token %}
            {{ form|bootstrap_horizontal }}
                <div class="col-10">
                    <hr />
                    <div class="row">
                        {{ channel_actions.id }}
                        {{ channel_actions.management_form}}
                        {% for channel_action_form in channel_actions %}
                            <div class="col-4 channel-action-form">
                                <div class="card">
                                    <div class="card-body">
                                        {{ channel_action_form|bootstrap }}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <p class="help-block">These actions that will be run when {{ object.name }} is active</p>
                </div>
            <div class="form-group">
                <button type="submit" class="btn btn-dark">Save</button>
                <a href="{% url 'alert_detail' pk=object.pk %}" role="button" class="btn btn-secondary">Back</a>
            </div>
        </form>
{% endblock %}
