{% extends 'base.html' %}

{% load bootstrap %}

{% block title %}
    Edit {{ object.name }} Action
{% endblock %}

{% block content %}
    <form action="" method="post" class="form-horizontal">
            <legend>Update the "{{ object.name }}" Alert Action</legend>
            {% csrf_token %}
            {{ form|bootstrap_horizontal }}
            <div class="form-group">
                <button type="submit" class="btn btn-dark">Save</button>
                <a href="{% url 'alert_action_detail' pk=object.pk %}" role="button" class="btn btn-secondary">Back</a>
            </div>
        </form>
{% endblock %}
