{% extends 'base.html' %}

{% block title %}
All Alert Channels
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col">
            <table class="table table-striped table-hover table-bordered all-alerts">
                <caption>All available Alert Channels</caption>
                <thead class="thead-dark bg-dark">
                    <tr>
                        <td scope="col">Name</td>
                        <td scope="col">Active?</td>
                        <td scope="col">Repeat Time</td>
                        <td scope="col">Time to Urgent</td>
                    </tr>
                </thead>
                <tbody>
                    {% for alert in object_list %}
                        {% include 'vigil/fragments/alert_channel_all.html' %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
