{% extends 'base.html' %}

{% block title %}
Alert Actions
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col"></div>
            <table class="table table-striped table-hover table-bordered active-alerts">
                <caption>List of available Alert Actions</caption>
                <thead class="thead-dark bg-dark">
                    <tr>
                        <td scope="col">Name</td>
                        <td scope="col">Description</td>
                        <td scope="col">Last Triggered</td>
                        <td scope="col">Task</td>
                    </tr>
                </thead>
                <tbody>
                    {% for alert_action in object_list %}
                        {% include 'vigil/fragments/alert_action.html' %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
